@font-face {
  font-family: "iconfont"; /* Project id 2580211 */
  src: url('iconfont.woff2?t=1625113277059') format('woff2'),
       url('iconfont.woff?t=1625113277059') format('woff'),
       url('iconfont.ttf?t=1625113277059') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-colect:before {
  content: "\e613";
}

.icon-wode1:before {
  content: "\e605";
}

.icon-leimupinleifenleileibie2:before {
  content: "\e620";
}

.icon-shangpin1:before {
  content: "\e604";
}

.icon-index:before {
  content: "\e600";
}

.icon-shangpin:before {
  content: "\e601";
}

.icon-wode:before {
  content: "\e602";
}

.icon-category1:before {
  content: "\e603";
}

